@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.pattern {
  --pattern: radial-gradient(closest-side, #777, #fff) 0/ 1em 1em space;
  --map: 
    radial-gradient(circle farthest-corner at var(--x) var(--y), #888, #fff);
  height: 100%;
  background: var(--pattern), var(--map);
  background-blend-mode: multiply;
  filter: contrast(16); 
  transition: .35s cubic-bezier(.1,0,.5,1.5);
  transition-property: --x, --y
}
